
body{
    background-image: url(https://i.pinimg.com/736x/23/66/80/236680a9429dad4016b928ae8c2b24fd.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment:fixed ;
    box-shadow:10px 20px 8px 5px rgb(235, 201, 51);

 }
 


.Informe{
    color:blanchedalmond;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
}

.first-imagen{
    color:blanchedalmond;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal; 

}
